@import url(http://fonts.googleapis.com/css?family=Lato:300);
body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 300;
  background: #f3f3f3; }
  body .splash {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    body .splash img {
      max-height: 100%;
      width: 60%;
      min-width: 300px; }
  body .bio {
    height: 80vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 600px) {
      body .bio {
        font-size: 0.7em; } }
    body .bio .header {
      -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
              align-self: flex-start;
      margin-left: 10%;
      text-align: left;
      font-size: 1em; }
      body .bio .header p span {
        font-size: 2em;
        color: #f3f3f3;
        background-color: #4A90E2; }
    body .bio .content {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      font-size: 1.7em;
      line-height: 60%; }
    body .bio .footer {
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      font-size: 1.2em;
      margin-right: 10%; }
    body .bio .social {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      text-align: center; }
      body .bio .social a {
        margin: 5px; }
        body .bio .social a svg {
          height: 50px;
          width: 50px; }
  body .contact {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1em; }
    @media (max-width: 600px) {
      body .contact {
        font-size: 0.7em; } }
    body .contact div {
      font-size: 1.7em;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      body .contact div a {
        font-size: 2em;
        color: black;
        text-decoration: none; }
        body .contact div a span {
          color: #4A90E2;
          text-decoration: none; }

/*# sourceMappingURL=alexisvincent.css.map */